<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PaginaB</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css" />
    <script src="main.js"></script>
</head>
<body>

    <h1>Hola , Soy la Pagina B</h1>
    <p>Esta es la característica de la pagina B</p>
    <button>Ir a la página a</button>
    <button>Ir a la página c</button>
    
</body>
</html>